$primary-color: #1a3300;
$border-color: #ccc;
$bg-light: #f5f5f5;
$text-color: #1a3300;

.detail-customer-container {
  width: 75%;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
    .back {
      display: flex;
      cursor: pointer;
    }
    h2 {
      margin-left: 450px;
      color: #d32f2f;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    button {
      width: 100px;
      background: none;
      border: none;
      cursor: pointer;
      margin-left: 10px;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border-radius: 5px;
      justify-content: center;

      img {
        width: 16px;
        height: 16px;
        margin-right: 5px;
        color: #fff;
      }
    }

    .delete {
      background: #FF3F3F;
      color: #fff;
    }

    .edit {
      background: #163020;
      color: #fff;
    }

    .print {
      background: #E9762B;
      color: #fff;
    }
  }

  .detail-customer-content {
    padding: 16px;
    background-color: #EEF0E5;
    border-radius: 5px;
  }

  .info-row {
    display: flex;
    border-bottom: 1px solid #f0f0f0;
  
    &.full-width {
      flex-direction: column;
    }
  
    .info-item {
      flex: 1;
      padding: 12px 16px;
      display: flex;
      
      &:first-child {
        border-right: 1px solid #f0f0f0;
      }
  
      .info-label {
        width: 150px;
        font-weight: 600;
        color: #333;
        display: flex;
        
      }
  
      .info-value {
        flex: 1;
        color: #666;
      }
    }
  
    &.full-width .info-item {
      border-right: none;
    }
  }
  .purchase-history {
    margin-top: 20px;
    background: #EEF0E5;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
    h3 {
      color: $primary-color;
      margin-bottom: 10px;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        padding: 10px;
        border-bottom: 1px solid $border-color;
        text-align: left;
      }
  
      th {
        background: $bg-light;
        color: $text-color;
        font-weight: bold;
      }
  
      tr:last-child td {
        border-bottom: none;
      }
  
      .order-id {
        font-weight: bold;
        color: $primary-color;
      }
  
      .order-date {
        color: #666;
      }
  
      .order-total {
        font-weight: bold;
        color: #d32f2f;
      }
    }
  }
    
  @media (max-width: 768px) {
    .info-row {
      flex-direction: column;
  
      .info-item:first-child {
        border-right: none;
        border-bottom: 1px solid #f0f0f0;
      }
    }
  }
}
