.order-details {
    width: 75%;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    .header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
     
      .back{
        display: flex;
        cursor: pointer;
      }
  
      h2 {
        margin-left: 450px;
        color: #d32f2f;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      margin: 20px;
      button {
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 10px;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;

        img {
          width: 16px;
          height: 16px;
          margin-right: 5px;
          color: #fff;
        }
      }

      .delete {
        background: #FF3F3F;
        color: #fff;
      }

      .edit {
        background: #163020;
        color: #fff;
      }

      .print {
        background: #E9762B;
        color: #fff;
      }
    }
  
    .order-info {
      background: #EEF0E5;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 20px;
  
      .order-id {
        font-size: 20px;
        font-weight: bold;
        color: #d32f2f;
      }
  
      .info-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 10px;
        justify-items: start;
        margin: 20px;
      }
    }
  
    .invoice-details {
      background: #EEF0E5;
      padding: 15px;
      border-radius: 5px;
  
      h3 {
        margin-bottom: 10px;
      }
  
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
  
        th, td {
          border: 1px solid #163020;
          padding: 10px;
          text-align: left;
        }
  
        th {
          background: #163020;
          color: #fff;
        }
      }
  
      .summary {
        padding: 10px;
        border-radius: 5px;
  
        p {
          display: flex;
          justify-content: space-between;
          font-size: 16px;
        }
  
        .total {
          font-weight: bold;
          color: #d32f2f;
          font-size: 18px;
        }
      }
    }
  }
  